<section class="section-nae">

    <div class="nae-wrap">
        {% include icons/icon-nae.html %}
        <h3 class="nae">News and Events</h3>
    </div>

    <div class="nae-content">
        <div class="news-wrap">
            <h3 class="news">News:</h3>
            {% for new in site.categories.news limit: 5 %}
            <h4 class="news-title">{{ new.title }}</h4>
            <div class="news-date">{{ new.date | date: "%b %d, %Y"}}</div>
            <div class="news-description">{{ new.content }}</div>
            <div class="border"></div>
            {% endfor %}
            <a href="news.html" class="news-button">NEWS</a>
        </div>


        <div class="events-wrap">
            <h3 class="events">Up Coming Events:</h3>
            {% for event in site.categories.events limit: 3 %}
            <h4 class="events-title">{{ event.title }}</h4>
            <div class="events-date">{{ event.date | date: "%b %d, %Y"}}</div>
            <div class="events-description">{{ event.content }}</div>
            <div class="border"></div>
            {% endfor %}
        </div>

        <div class="calendar-wrap">
            <h3 class="calendar-title">Calendar:</h3>
            <div class="calendar">{{ site.data.main.calendar }}</div>
        </div>

    </div>

</section>
