<section class="section-hotlines-and-links">

    <div class="links-wrap">
        {% include icons/icon-links.html %}
        <h3 class="links">Hotlines and Links</h3>
    </div>

    <div class="links-content">

        <h4>Emergency Hotlines:</h4>
        <div class="hotline-content">
            {% for hotline in site.data.main.hotlines %}
            <div class="hotline-wrap">
                <a href="{{ hotline.url }}"><div class="hotline-logo" style="background-image: url(/assets/img/ulinks/{{ hotline.logo }}"></div></a>
                <div class="hotline-desc-wrap">
                    <p><a href="{{ hotline.url }}">{{ hotline.name }}</a></p>
                    <p>{{ hotline.acronym }}</p>
                    <p>{{ hotline.location }}</p>
                    <p>{{ hotline.contact }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <h4>Other Useful Links:</h4>
        <div class="other-wrap">
            {% for web in site.data.main.webs %}
            <a href="" alt="{{web.name}}"><div class="links-other-logo" style="background-image: url(/assets/img/ulinks/{{ web.logo }}"></div></a>
            {% endfor %}
        </div>

    </div>

</section>
