---
---

@import '1-tools/-tools-dir'

// Header & Footer
$bgimg: '{{ site.data.main.background-img }}'
$brgylogo: '{{ site.data.main.barangay-obrero-logo }}'
$qclogo: '{{ site.data.main.quezon-city-logo }}'
$bg: '{{ site.data.main.background }}'

@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
