.section-contact
    width: 100%
    padding: 10px 0 20px 0
    clear: both

    .contact-wrap
        padding: 20px 0 20px 0
        height: 65px
        margin: 10px 0 30px 0
        box-shadow: 2px 2px 10px rgba(0, 66, 107, 1)
        clear: both
        svg
            margin-left: 40px
            float: left
            fill: #faa71a
        .contact
            float: left
            text-align: left
            margin: 20px 0 0 20px
            text-transform: uppercase
            color: #faa71a

    .contact-content
        width: 80%
        margin: auto
        padding: 10px 0 40px 0
